.Testimonials-container
{
    
    /* background: linear-gradient(90deg, rgba(252,243,255,1) 0%, rgba(243,243,243,1) 100%); */
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.Testimonials-container .testimonial-card
{
    cursor: pointer;
    border-radius: 5px;    
    background: transparent;
    /* filter: drop-shadow(0 3px 20.5px rgba(0, 0, 0, 0.063)); */
}
.Testimonials-container .testimonial-card .arrow-img
{
    width:45px;
}

.Testimonials-container .head-h1 {
    color: #272525;
}


.Testimonials-container .testimonial-card .testimonial-card-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.Testimonials-container .profile-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.Testimonials-container .user-img{
    border-radius: 50%;
    width: 125px;
    transform: translateY(-30px);
    filter: drop-shadow(0px 3px 9px rgba(0,0,0,0.16));
}

.Testimonials-container .profile-info .review-text
{
    color: #cecece;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 1.8rem;
    
}

.Testimonials-container .review-text-main
{

    max-height: 400px;
    overflow-y: auto;

}

.Testimonials-container .review-text-main::-webkit-scrollbar {
    width: 4px;
}

.Testimonials-container .testimonial-card-line-seprator
{
    border: 1px solid #939393;
    width: 80%;
    height: 0;
    
}
.Testimonials-container .profile-info .name
{
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
}

.Testimonials-container .btn-container .btn-arrow-icon
{
    width: 14px;
    height: 14px;
}
.Testimonials-container .btn-container .btn-arrow-icon-left
{
    transform: rotate(130deg);
    transition:transform .3s ;
}
.Testimonials-container .btn-container .btn-arrow-icon-left-rotate
{
    transition:transform .3s ;
    transform: rotate(180deg);
}

.Testimonials-container .btn-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
/* 
.Testimonials-container .swiper-slide
{
    transform: translate(50% , 25px);
    overflow-y: visible;
    display: block;
    
}
.Testimonials-container .swiper-slide-active
{
    transform: translate(-50% , 25px);
    display: block;
}
.Testimonials-container .swiper-slide-next
{
    transform: translate(0 , 0)!important;
    display: grid;
    align-items: center;
    justify-content: center;
} */


.Testimonials-container .card-list::before
{
    content: " ";
    position: absolute;
    height: 100%;
    width: 40%;
    left: 0;
    top: 0;
    z-index: 100;
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.806) 24%, rgba(255, 255, 255, 0.831) 46%, rgba(255, 255, 255, 0.863) 74%,rgb(255, 255, 255) 90%, rgb(255, 255, 255) 100%);
}


.Testimonials-container .card-list::after
{
    content: " ";
    position: absolute;
    height: 100%;
    width: 40%;
    right: 0;
    top: 0;
    z-index: 100;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.806) 24%, rgba(255, 255, 255, 0.831) 46%, rgba(255, 255, 255, 0.863) 74%,rgb(255, 255, 255) 90%, rgb(255, 255, 255) 100%);

}

.Testimonials-container .swiper-pagination
{
    /* width: fit-content!important; */
   bottom: -45px!important;
   position: relative;
}
.Testimonials-container .swiper-pagination .swiper-pagination-bullet
{
    background: #c8c8c8 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 15px;
    height:15px;
    
}
.Testimonials-container .swiper-pagination .swiper-pagination-bullet-active
{
    background: #E0C7C0 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 15px;
    height:15px;
}

.Testimonials-container .main-heading
{
    max-width: 50%;
    /* background-image: url("../../../public/images/icons/scratch-pink.svg"); */
    background-position: center;
    background-repeat: no-repeat;
}

.Testimonials-container .swiper-button-prev-test
{
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 100;
    cursor: pointer;
    padding-right: 10px;

}
.Testimonials-container .swiper-button-next-test
{
    position: absolute;
    top: 0%;
    z-index: 100;
    right: 50%;
    cursor: pointer;
    padding-left: 10px;

}

.Testimonials-container .stylish-font-text
{
    font-size: 76px;
}

@media(max-width:993px)
{
    
    .Testimonials-container .main-heading
    {
        max-width: 100%;
    }
    .Testimonials-container .card-list::before
    {
        content: none;
    }
    .Testimonials-container .card-list::after
    {
        content: none;
    }
}




@media(max-width: 576px)
{
    .Testimonials-container .swiper-slide .testimonial-card
    {
        width: 100%;
        margin: auto;
    }
}