.home-hero {
  position: relative;
  height: 80vh;
}

.Homehero-content .para_main {
  margin-bottom: 14px;
  color: #EAEBEB;
  font-size: 28px;
  /* padding: 0vh 40vh; */
}

.Homehero-content .head-h1 {
  padding: 0vh 50vh;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px #00000099;
  text-transform: uppercase;
}

.Homehero-content .connect-button {
  margin-top: 12px;
}

.Homehero-content .main-head {
  color: #717C93;
}

.social-media-icons {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.home-hero .swiper-container {
  height: 100%;
  position: relative;
}

.home-hero .swiper-slide {
  position: relative;
  left: 0;
  z-index: 1;
}

.home-hero .swiper-pagination {
  display: flex;
  gap: 5px;
  justify-content: center;
  transform: translateY(-140%);
}

.home-hero .swiper-pagination .swiper-pagination-bullet {
  background-color: #dedede81;
  opacity: 1;
  width: 14px;
  height: 14px;
}

.home-hero .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #F13742;
  opacity: 1;
  width: 17px;
  height: 17px;
  position: relative;

}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.social-media-icons img {
  max-width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
}

.social-media-icons img:hover {
  transform: translateY(-18px);
}

@media (max-width: 1280px) {
  .Homehero-content .head-h1 {
    font: normal normal normal 43px/75px Granjon;
    padding: 0vh 40vh;
  }

  .Homehero-content .para_main {
    width: 100%;
  }

  .social-media-icons {
    right: 30px;
  }
}

@media (max-width: 768px) {
  .home-hero {
    position: relative;
    height: 90vh;
  }

  .home-hero .Homehero-content {
    padding: 0vh;
  }

  .Homehero-content .head-h1 {
    padding: 0vh 0vh;
    text-align: center;
  }

  .Homehero-content .head-h1 {
    font-size: 2.8em;
    text-align: center;
  }

  .Homehero-content .para_main {
    width: 100%;
    text-align: center;
  }

  .social-media-icons {
    position: static;
    margin: 20px auto;
    transform: none;
    flex-direction: row;
    justify-content: center;
  }

  .social-media-icons img {
    max-width: 30px;
    margin-bottom: 12px;
  }

  .Homehero-content .main-head {
    text-align: center;
    margin-top: 14px;
    font-size: 14px;
  }

  .home-hero .swiper-pagination {
    flex-direction: unset;
    justify-content: center;
  }

  .home-hero .anchor-homehero {
    text-decoration: none;
  }

  .home-hero .swiper-pagination .swiper-pagination-bullet-active::before {
    top: -6px;
  }
}

@media (max-width: 480px) {
  .Homehero-content .head-h1 {
    font-size: 35px;
  }

  .Homehero-content .para_main {
    font-size: 0.9em;
  }

  .social-media-icons img {
    max-width: 25px;
  }
}