.Toggle-Cards .Services {
  font-family: "Mulish", sans-serif;
  color: #151515;
  font-size: 43px;
  font-weight: 800;
  padding: 100px 0px 100px 0px;
  background-color: #f9f9f9;
}

.content-section {
  padding: 4vh 0vh;
}

.Toggle-Cards .DigitalServices {
  color: #d11413;
  font-size: 43px;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
}

.Toggle-Cards .Services .hoveredbox {
  transition: 0.8s ease;
}

.Toggle-Cards .Services .hoveredbox ul {
  list-style: none;
  text-align: start;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  padding-right: 32px;
}

.Toggle-Cards .Services .hoveredbox ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Toggle-Cards .Services .hoveredbox svg {
  width: 16px;
  /* margin-left: 18px; */
}

.Toggle-Cards .Services .hoveredbox ul li:hover svg {
  fill: #d11413;
  transition: 0.2s;
}

.Toggle-Cards .Services .hoveredbox ul li:hover a {
  color: #d11413 !important;
  transition: 0.2s;
}

.Toggle-Cards .Solid {
  border-top: 0.5px solid #f20000;
  text-align: center;
}

.Toggle-Cards .Services .arrow-icon {
  width: 50px;
  height: 50px;
  z-index: 2;
}

.Toggle-Cards .ServicesBtn .arrow-icon {
  width: 50px;
  margin-left: 15px;
  border: 1px solid white;
  padding: 12px;
  border-radius: 10px;
  z-index: 100;
}

.Toggle-Cards .ServicesBtn {
  font-family: "Mulish", sans-serif;
  font-size: 19px;
  text-align: left;
  font-weight: 400;
  margin-top: 8rem;
  margin-left: 2px;
  background-color: transparent;
  border: none;
  color: #151515;
  padding: 0px 0px;
  transition: 0.8s;
}

.Toggle-Cards .boxes {
  position: relative;
  /* Ensures that the overlay is positioned relative to the box */
  background-color: transparent;
  height: 350px;
  border-radius: 12px;
  cursor: pointer;
  padding: 0px;
  box-shadow: 1px 2px 35px rgba(37, 37, 37, 0.153);
  transition: 0.10s ease;
}


.Toggle-Cards .ServicesTitle {
  padding: 0;
  /* margin-right: 64px; */
  color: #d11413;
  font: normal normal normal 63px/102px Granjon;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 28px;
}

.Toggle-Cards .spanHead {
  text-align: center;
  font: bold 20px/34px Century Gothic;
  color: #F13742;
}

.Toggle-Cards .ServicesPara {
  color: #151515;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

/* Initial state of the overlay (hidden off-screen) */
.Toggle-Cards .overlay-services {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  /* Light background */
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  opacity: 0;
  /* Start hidden */
  transform: translateX(-10%);
  /* Start off-screen to the left */
  transition: opacity 0.9s ease, transform 0.9s ease;
  /* Smooth transition for both opacity and transform */
}

/* When the card is hovered, the overlay will fade in and slide in */
.Toggle-Cards:hover .overlay-services {
  opacity: 1;
  /* Fade-in */
  transform: translateX(0);
  /* Slide in from the left */
}


.Toggle-Cards .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* dark overlay, adjust opacity as needed */
  pointer-events: none;
  /* this makes sure the overlay doesn't interfere with other mouse events */
  background: rgba(0, 0, 0, 0.5);
  /* Darken overlay */
  transition: all 0.3s ease;
  border-radius: 12px;

  /* Smooth transition */
}

.Toggle-Cards .centered-image {
  position: absolute;
  padding: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

.Toggle-Cards .centered-image .team-icon {
  width: 100%;
}

.Services .head-h1 {
  color: #151515;
  font: normal normal normal 63px/70px Granjon;
}

.Services .head-h3 {
  font: normal normal normal 40px/70px Granjon;
  color: #5c5a5a;
}


@media (max-width: 1200px) {
  .ServicesPara {
    font-size: 17px;
  }

  .ServicesTitle {
    font-size: 20px;
  }

  .Services .hoveredbox ul {
    font-size: 17px;
  }
}

@media (max-width: 767px) {
  .Services {
    padding: 40px 0px 40px 0px;
  }
}

@media (max-width: 430px) {
  .Toggle-Cards .centered-image {
    padding: 0px;
  }

  .Toggle-Cards .boxes {
    position: relative;
    background-color: transparent;
    height: 160px;
  }

  .Services .head-h1 {
    color: #151515;
    font: normal normal normal 40px/75px Granjon;
  }

  .Services .head-h3 {
    font: normal normal normal 20px/30px Granjon;
  }

  .content-section {
    padding: 0vh 0vh;
  }
}