/* General styles */
.ServiceCard-container {
    background-color: #FCFCFC;
    padding: 8vh 0vh;
}

.ServiceCard-container .text-danger {
    font-weight: bold;
}

.ServiceCard-container .head-h1 {
    color: #272525;
}

.ServiceCard-container .head-h3 {
    color: #272525;
    font: normal normal bold 20px/28px Century Gothic;
    letter-spacing: 0px;
    color: #272525;
    text-transform: uppercase;
    opacity: 1;
}

.ServiceCard-container .para_main {
    padding: 0vh 0vh 4vh 0vh;
}

/* Adjusting the height of the third image */
img.img-fluid {
    width: 100%;
    height: auto;
}

/* Special styling for the third image */
img.third-image {
    height: 300px;
    /* Set the specific height for the third image */
    object-fit: cover;
    /* Ensure the image covers the space */
}

/* Centered large image section */
.centered-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-image {
    max-width: 80%;
    height: auto;
}

.centered-image-row {
    justify-content: center;
}

@media (max-width: 768px) {
    .centered-image {
        max-width: 100%;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .ServiceCard-container {
        padding: 20px;
    }

    img.img-fluid {
        margin-bottom: 20px;
    }
}