.ServiceCard-container {
    background-color: #FCFCFC;
    padding: 5vh 0vh;
}

.ServiceCard-container .text-danger {
    font-weight: bold;
}

.ServiceCard-container .head-h1 {
    color: #272525;
}

.ServiceCard-container .head-h3 {
    color: #272525;
    font: normal normal bold 20px/28px Century Gothic;
    letter-spacing: 0px;
    color: #272525;
    text-transform: uppercase;
    opacity: 1;
}

.ServiceCard-container .para_main {
    padding: 0vh 0vh 4vh 0vh;
}

.ServiceCard-container .col-md-4 .img-fluid {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth transition */
  }

.ServiceCard-container .col-md-4:nth-child(odd) .img-fluid {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* ensure transition on odd elements (left-side) */
}

.ServiceCard-container .col-md-4:nth-child(odd) .img-fluid:hover {
    transform: translateX(70px);
    /* Move left images to the right */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Add shadow */
}

/* Hover effect for the second image (right-side card) */
.ServiceCard-container .col-md-4:nth-child(even) .img-fluid {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* ensure transition on even elements (right-side) */
}

.ServiceCard-container .col-md-4:nth-child(even) .img-fluid:hover {
    transform: translateX(0px);
    /* Move right images to the left */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Add shadow */
}

img.img-fluid {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* smooth transition */
}

img.third-image {
    object-fit: cover;
}

.centered-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-image {
    max-width: 80%;
    height: auto;
}

.centered-image-row {
    justify-content: center;
}

@media (max-width: 768px) {
    .ServiceCard-container {
        padding: 20px;
    }

    .centered-image {
        max-width: 100%;
    }

    .ServiceCard-container .head-h1 {
        font: normal normal normal 53px/75px Granjon;
    }

    img.img-fluid {
        width: 100%;
        height: auto;
        margin-bottom: 14px;
    }
}