/* Title Styling */
.popular-section .popular-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 15px;
}

/* Left side horizontal post */
.popular-section .post-horizontal {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.popular-section .post-horizontal .horizontal-img {
    width: 100%;
    border-radius: 8px;
}

.popular-section .post-horizontal .post-meta {
    text-align: left;
    padding-left: 20px;
}

.popular-section .post-horizontal .post-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.popular-section .post-horizontal .post-date {
    color: #888;
    margin-top: 10px;
}

.popular-section .popular-tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border: 1px solid #dd3333;
    color: #dd3333;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Right side vertical post */
.popular-section .post-vertical {
    display: flex;
    align-items: center;
}

.popular-section .post-vertical .vertical-img {
    width: 100%;
    border-radius: 8px;
    height: auto;
    object-fit: cover;
}

.popular-section .post-vertical .post-meta {
    padding-left: 10px;
}

.popular-section .post-vertical .post-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.popular-section .post-vertical .post-date {
    color: #888;
    margin-top: 5px;
}

.popular-section .left-section {
    padding: 2vh 6vh 2vh 6vh;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .popular-section {
        text-align: center;
    }
    .popular-title {
        text-align: center;
    }

    .post-horizontal, .post-vertical {
        flex-direction: column;
    }

    .post-horizontal .post-meta, .post-vertical .post-meta {
        text-align: center;
        padding-left: 0;
    }
    .popular-section .right-sidebar-section {
        text-align: center;
    }
}
